.contents{
  margin: auto;
  margin-top: 0px;
  .pd-contents{
    margin: 0;
    background: #fff;
    padding: 0;
    border-style: solid;
    border-width: 0;
    &__head{
      font-size: 30px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      line-height: 1.4;
    }
    &__innner{
      padding: 64px;
      border-top: 1px solid #f5f5f5;
      margin: 0;
      border-style: solid;
      border-width: 0;
      &__label{
        margin: 0;
        padding: 0;
        border-style: solid;
        border-width: 0;
        &__sub{
          max-width: 320px;
          margin: auto;
          padding-bottom: 20px;
          border-style: solid;
          border-width: 0;
          font-size: 24px;
          text-align: center;
        }
      }
      &__add-text{
        padding: 24px 0;
        border-bottom: 1px solid #eee;
        margin: 0;
        &__single{
          max-width: 320px;
          margin: 0 auto;
          padding: 0;
          &__box{
            margin: 0;
            margin-bottom: 8px !important;
            background: #ea352d;
            max-width: 320px;
            margin: 0 auto;
            display: flex;
            padding-top: 20px;
            cursor: pointer;
            &__cn-btn-red{
              background: #ea352d;
              border: 1px solid #ea352d;
              display: flex;
              text-align: center;
              margin: auto;
              padding-bottom: 14px;
              .cn-btn{
                color: #fff;
                text-decoration: none;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}