.ii-camera
  - if user_signed_in?
    = link_to items_path, class: "ii-camera__btn" do
      .ii-camera__btn__box
        .ii-camera__btn__box--text 出品
        = icon('fas', 'camera')
  - else 
    = link_to new_user_registration_path, class: "ii-camera__btn" do
      .ii-camera__btn__box
        .ii-camera__btn__box--text 出品
        = icon('fas', 'camera')