%footer.footer2
  %nav.f2-nav
    %ul.f2-clearfix
      %li.f2-text
        = link_to "プライバシーポリシー",root_path, class:"f2-link"
      %li.f2-text
        = link_to "フリーマーケット利用規約",root_path, class:"f2-link"
      %li.f2-text
        = link_to "特定商取引に関する表記",root_path, class:"f2-link"
        
  =link_to root_path, class: "footer2_logo" do
    = image_tag 'logo_gray.svg', class:"f2-image"
  %p.f2-p
    %small.f-sall © 2020 freemarket