.search-sidebar {
  width: 280px;
  height: 600px;
  margin-right: 40px;
  background-color: gray;
}
.search-content {
  width: 720px;
}
.ise-item {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  &-box {
    height: 218px;
    width: 160px;
    box-sizing: border-box;
    display: list-item;
    margin: 0;
    padding: 0px 20px 20px 0px;
    &__image {
      height: 160px;
      width: 160px;
    }
    &__text {
      padding: 8px 12px;
    }
  }
}
.ise-link {
  text-decoration: none;
  color: black;
}