= render 'shared/header1'

%main.main

  = render 'shared/side-bar'

  .contents
    .content__ml-chapter
      .content__ml-chapter__form
        .content__ml-chapter__form__inner
          %button.ml-btn-red{type: "submit"} ログアウト

  = render 'shared/camera'

= render 'shared/footer1'