= render "shared/header2"

.contents
  .pd-contents
    .pd-contents__head
      取引完了
    .pd-contents__innner
      .pd-contents__innner__label
        .pd-contents__innner__label__sub
          商品到着までお待ちください
      .pd-contents__innner__add-text
        .pd-contents__innner__add-text__single              
        .pd-contents__innner__add-text__single
          .pd-contents__innner__add-text__single__box
            .pd-contents__innner__add-text__single__box__cn-btn-red
              = link_to "商品一覧に戻る", root_path, class: "cn-btn"
                
= render "shared/footer2" 