.mo-header{
  display: block;
  height: 72px;
  width: 100%;
  background-color: #fafafa;
  padding: 0 16px;
  line-height: 72px;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  border-bottom: 1px solid #f5f5f5;
}
.mo-items{
  width: 100%;
  &__link{
    display: block;
    height: 84px;
    width: 100%;
    padding: 16px;
    background-color: #fafafa;
    border-bottom: 1px solid #f5f5f5;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
      &__name{
        display: block;
        margin-left: 20px;
        line-height: 52px;
        height: 52px;
        font-size: 14px;
      }
  }
}