= render 'shared/header1'
%main.main
  .search-sidebar
  .search-content
    %section.is-item
      .is-item-box
        %figere.is-item-box__image
        .is-item-box__text
      .is-item-box
        %figere.is-item-box__image
        .is-item-box__text
      .is-item-box
        %figere.is-item-box__image
        .is-item-box__text
      .is-item-box
        %figere.is-item-box__image
        .is-item-box__text

 