.footer1
  .footer1__box
    .footer1__box__info
      %h1 フリマ66dについて
      %ul.footer1__box__info__link
        %li.footer1__box__info__link__a
          %a.link(href=“#”)
            会社概要（運営会社）
        %li.footer1__box__info__link__b
          %a.link(href=“#”)
            採用情報
        %li.footer1__box__info__link__c
          %a.link(href=“#”)
            プレスリリース
        %li.footer1__box__info__link__d
          %a.link(href=“#”)
            公式ブログ
        %li.footer1__box__info__link__e
          %a.link(href=“#”)
            フリマ66dロゴ利用ガイドライン
        %li.footer1__box__info__link__f
          = fa_icon ‘facebook’, class: ‘icon’
        %li.footer1__box__info__link__g
          = fa_icon ‘twitter’, class: ‘icon’
    .footer1__box__guide
      %h2 ヘルプ&ガイド
      %ul.footer1__box__guide__link
        %li.footer1__box__guide__link__a
          %a.link(href=“#”)
            フリマ66dガイド
        %li.footer1__box__guide__link__b
          %a.link(href=“#”)
            らくらくフリマ66d便
        %li.footer1__box__guide__link__c
          %a.link(href=“#”)
            ゆうゆうフリマ66d便
        %li.footer1__box__guide__link__d
          %a.link(href=“#”)
            大型フリマ66d便
        %li.footer1__box__guide__link__e
          %a.link(href=“#”)
            車体取引ガイド
        %li.footer1__box__guide__link__f
          %a.link(href=“#”)
            フリマ66dあんしん・あんぜん宣言！
        %li.footer1__box__guide__link__g
          %a.link(href=“#”)
            偽ブランド品撲滅への取り組み
        %li.footer1__box__guide__link__h
          %a.link(href=“#”)
            フリマ66dボックス
    .footer1__box__service
      %h3 プライバシーと利用規約
      %ul.footer1__box__service__link1
        %li.footer1__box__service__link1__a
          %a.link(href=“#”)
            プライバシーポリシー
        %li.footer1__box__service__link1__b
          %a.link(href=“#”)
            フリマ66d利用規約
        %li.footer1__box__service__link1__c
          %a.link(href=“#”)
            あんしんスマホサポート制度に関する利用特約
        %li.footer1__box__service__link1__d
          %a.link(href=“#”)
            コンプライアンスポリシー
      %ul.footer1__box__service__linkguide
        %li.footer1__box__service__link2__a
          %a.link(href=“#”)
            個人データの安全管理に係る基本方針
        %li.footer1__box__service__link2__b
          %a.link(href=“#”)
            特定商取引に関する表記
        %li.footer1__box__service__link2__c
          %a.link(href=“#”)
            資金決済法に基づく表示
        %li.footer1__box__service__link2__d
          %a.link(href=“#”)
            法令順守と犯罪抑止のために
    .footer1__box__country
      %h4 国
      %ul.footer1__box__country__link
        %li.footer1__box__country__link__a
          %a.link(href=“#”)
            日本
        %li.footer1__box__country__link__b
          %a.link(href=“#”)
            United States
  .footer1__bottom
    .footer1__bottom__logo
      = link_to root_path, class: ‘fremalogo-footer’ do
        = image_tag ‘fmarket_logo_red.svg’
    .footer1__bottom__copyright
      %small @Frema,lnc